body {
  padding-top: 70px;
}

#image {
  margin-bottom: 10px;
  display: none;
}

#canvas {
  display: block;
  width: 500px;
  height: 500px;
}

#preview {
  display: none;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters li {
  display: inline;
  margin-right: 10px;
}
