#image {
  margin-bottom: 10px;
}

#canvas {
  display: block;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

.filters {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters li {
  display: inline;
  margin-right: 10px;
}
