<div class="row actions">
  <div class="col-xs-12">
    <image-browser ng-model="file">Choose Image</image-browser>

    <button id="clear" class="btn btn-danger btn-lg">Clear</button>
    <button id="save" class="btn btn-primary btn-lg">Save</button>
  </div>
</div>
<!-- /.actions -->

<div id="result" class="row result">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" id="result_field" class="form-control">
      <div class="input-group-btn">
        <button id="open_button" class="btn btn-default">Open</button>
      </div>
    </div>
  </div>
</div>
<!-- /.result -->

<div class="row image-canvas">
  <div class="col-xs-12">
    <canvas id="canvas" width="800" height="800" data-caman-hidpi-disabled="true"></canvas>
  </div>
</div>
<!-- /.image-canvas -->

<div class="row filters">
  <div class="col-xs-12">
    <div class="filters-wrapper">
      <div class="btn-group .btn-group-justified">
        <button class="btn btn-default" data-filter="vintage">Vintage</button>
        <button class="btn btn-default" data-filter="lomo">Lomo</button>
        <button class="btn btn-default" data-filter="clarity">Clarity</button>
        <button class="btn btn-default" data-filter="sinCity">Sin City</button>

        <button class="btn btn-default" data-filter="sunrise">Sunrise</button>
        <button class="btn btn-default" data-filter="crossProcess">Cross Process</button>
        <button class="btn btn-default" data-filter="orangePeel">Orange Peel</button>
        <button class="btn btn-default" data-filter="love">Love</button>

        <button class="btn btn-default" data-filter="grungy">Grungy</button>
        <button class="btn btn-danger" id="reset">Reset</button>
      </div>
    </div>
    <!-- /.filters-wrapper -->
  </div>
</div>
<!-- /.filters -->