<div class="row actions">
  <div class="col-xs-12">
    <image-browser ng-model="file" ng-change="updateCanvas()">Choose Image</image-browser>

    <button id="clear" class="btn btn-danger btn-lg" ng-disabled="isActionsDisabled">Clear</button>
    <button id="save" class="btn btn-primary btn-lg" ng-disabled="isActionsDisabled">Save</button>
  </div>
</div>
<!-- /.actions -->

<div id="result" class="row result {{resultClasses}}">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" id="result_field" class="form-control">
      <div class="input-group-btn">
        <button id="open_button" class="btn btn-default">Open</button>
      </div>
    </div>
  </div>
</div>
<!-- /.result -->

<div class="row image-canvas">
  <div class="col-xs-12">
    <canvas id="canvas" width="800" height="800" data-caman-hidpi-disabled="true"></canvas>
  </div>
</div>
<!-- /.image-canvas -->

<div class="row filters">
  <div class="col-xs-12">
    <div class="filters-wrapper">
      <div class="btn-group .btn-group-justified">
        <button 
          class="btn btn-default" 
          ng-disabled="isFilterActionsDisabled"
          ng-repeat="filter in filters" 
          ng-click="applyFilter(filter)">
          {{filter.label}}
        </button>
        <button class="btn btn-danger" ng-click="resetFilter()" ng-disabled="isFilterActionsDisabled">Reset</button>
      </div>
    </div>
    <!-- /.filters-wrapper -->
  </div>
</div>
<!-- /.filters -->